body {
  margin: 0;
  padding: 0;
}

.header {
  background: gray;
  height: 4em;

  h1 {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.menu_main {
  width: 100px;
  background-color: red;
  position: absolute;
  text-align: right;
}

.menu_main.open {
  transform-origin: 0 10px;
  transform: rotate(-15deg);
  transition: transform 500ms;
}

.menu {
  .item {
    z-index: -1;
    position: absolute;
  }
}

.menu.open {
  .item:nth-child(1) {
    transform: translate(150px, 0);
    transition: all 1s;
  }

  .item:nth-child(2) {
    transform: translate(300px, 0);
    transition: all 1s;
  }

  .item:nth-child(3) {
    transform: translate(450px, 0);
    transition: all 1s;
  }

  .item:nth-child(4) {
    transform: translate(600px, 0);
    transition: all 1s;
  }

  .item:nth-child(5) {
    transform: translate(750px, 0);
    transition: all 1s;
  }
}

.ball {
  border: black 1px solid;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
  opacity: 0;
}

.ball.open {
  transform: translate(50px, -30px);
  transition: transform 1s;
  opacity: 1;
}
