<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" media="screen" href="static/css/style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js"></script>

    <title>Mem Corp - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="header">{% include 'header.twig.html' with {'title' : title, 'sub_title' : sub_title} %}</div>
        <div class="menu">{% include 'menu.twig.html' with {'logged' : user.active|default(false)} %}</div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">{% include 'footer.twig.html' %}</div>
    </div>
</body>

</html>