{% extends "base.twig.html" %}

{% block title %}Client{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}

<div class="client">
    <h2>Welcome, {{user.fname}}</h2>
    {% if not memories %}
    <p>You don't have any memories yet!</p>
    {%endif%}
    {% for mem in memories %}
    <div class="memory">
        <img src={{mem.path}} alt="memory">
    </div>
    {% endfor %}
</div>

{% endblock %}