<!-- Main content -->
<div class="content">

    <!-- Introduction -->
    <div class="intro">
        <h3>Introduction</h3>
        <p>This is a Web Development course project in which a web-app will be produced.</p>
        <p>The web-app will be about a ficticious company owned by Michael Jennings, the main character of the
            John Woo's movie <i>Paycheck.</i></p>
        <p>This project will help better understand more advanced design techniques as well as some back-end programming.</p>
    </div><!-- Introduction -->

    <!-- Character Story -->
    <div class="story">
        <h3>Character Story</h3>
        <p>Michael Jennings is a reverse engineer that analyzes the competitor products in order to make a better version. His memory was wiped to protect himself and his clients. The character is from John Woo's movie <i>Paycheck</i>.</p>
        <p>Three years after the begining of his memory wipe, he had to find a way to revover his memory back. The process of recovering his memory was fundamental to create <i>Mem Corp.</i></p>
        <p>Mem Corp is a organization that helps people with memory problems. A secret technology was created by Jennings after his memory loss. With that technology he can recover anyone's memory, like recovering data from hard drives. After the recovery, the memory is saved and the client can bring it home.</p>
    </div><!-- Character Story -->

    <!-- Site Map -->
    <div class="map">
        <h3>Website Map</h3>
        <img src="images/web_sitemap.png" alt="Website Map">
    </div><!-- Site Map -->

    <!-- Site Listing -->
    <div class="listing">
        <h3>Website listing</h3>

        <div class="listing_table">
            <table>
                <tr>
                    <th>Page</th>
                    <th>Description and Technology</th>
                </tr>

                <tr>
                    <td>Home</td>
                    <td>
                        This is the main page. It will have some information on the owner's background, as well as provide links to registration.
                        <br />
                        It will use CSS to create the website sections, like headers and footers.
                    </td>
                </tr>

                <tr>
                    <td>Login</td>
                    <td>
                        Page that a client can login to view his details, orders, etc.
                    </td>
                </tr>

                <tr>
                    <td>Orders</td>
                    <td>
                        Page to manage the user's orders. Will contain a table with a list of all past orders.
                    </td>
                </tr>

                <tr>
                    <td>My memory</td>
                    <td>
                        List with all past memories recovered for the client. User can download past memories recovered.
                    </td>
                </tr>

                <tr>
                    <td>Clients</td>
                    <td>
                        Short list of some of the company's clients. It will also contain some user's feedback.
                    </td>
                </tr>

                <tr>
                    <td>Contacs</td>
                    <td>
                        Page with the company's contact details. A form will be displayed so users can contact the company.
                    </td>
                </tr>

                <tr>
                    <td>About</td>
                    <td>
                        Page to tell the company history and so on.
                    </td>
                </tr>

            </table>
        </div>
    </div><!-- Site Listing -->

    <!-- Site Mockup -->
    <div class="mockup">
        <h3>Mockup</h3>
        <p>The website mockup is this document.</p>
        <p>The grid layout is going to be the same style as the one used in this proposal website.</p>
        <p>During the project development, new ideas will probably appear but the layout organization is going
            to be very approximate to this one.</p>
    </div><!-- Site Mockup -->

    <!-- Aesthetic Choice -->
    <div class="aesthetic">
        <h3>Aesthetic design</h3>

        <p>The colors for the website were chosen according to my personal preferences.</p>
        <p>Blue is my favorite color and I think that gray is a good choice to use with it.</p>
        <p>The logo was saved from a free website and changed to met this website aesthetic.</p>
        <p>I hope users find it easy to read and to look at, not having much impact on its readability.</p>
    </div><!-- Aesthetic Choice -->

    <!-- References -->
    <div class="references">
        <h3>References</h3>
        <ul>
            <li>Course Slides</li>
            <li>W3 Schools website</li>
            <li>Logo: https://pixabay.com/en/technology-brain-digital-creative-3358837/</li>
        </ul>
    </div><!-- References -->

    <!-- Technical Checklist -->
    <div class="checklist">
        <h3>Technical Checklist</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Less</li>
            <li>Responsive design</li>
            <li>PHP</li>
            <li>Database (SQL)</li>
        </ul>
    </div><!-- Technical Checklist -->

</div><!-- Main content -->