{% extends "base.twig.html" %}

{% block title %}Index{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<!-- Introduction -->
<div class="intro">
    <h3>Introduction</h3>
    <p>This is a Web Development course project in which a web-app will be produced.</p>
    <p>The web-app will be about a ficticious company owned by Michael Jennings, the main character of the
        John Woo's movie <i>Paycheck.</i></p>
    <p>This project will help better understand more advanced design techniques as well as some back-end programming.</p>
</div><!-- Introduction -->
{% endblock %}