{% extends "base.twig.html" %}

{% block title %}Login{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}

<div class="login">
    <div class="form">
        <form method="POST" action="login.php">
            <h1>Log in</h1>
            <div class="alert">
                {{msg}}
            </div>
            <div class="form-group">
                <span>Email</span>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <span>Password</span>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit" id="mainButton">Log in</button>
            </div>
        </form>
        <div>
            <h2><a href="signup.php">Click here to register?</a></h2>
        </div>
    </div>
</div>

{% endblock %}