<!-- Menu -->
<ul>
    <li><a href="index.php">Home</a></li>
    <li><a href="client.php">Client</a></li>
    <li><a href="about.php">About</a></li>
    {% if logged == true %}
    <li><a href="share.php">Share</a></li>
    <li><a href="logout.php">Log Out</a></li>
    {% endif %}
</ul>
<!-- Menu -->