{% extends "base.twig.html" %}

{% block title %}Share{% endblock %}

{% block head %}
{{ parent() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="static/script/chat.js" defer></script>
{% endblock %}

{% block content %}

<div class="contact">
    <input type="hidden" name="username" id="username" value={{user.email}}>

    <div class="chat_header">
        <h1>{{sub_title}}</h1>
    </div>

    <div class="messages" id="messages">
    </div>

    <div class="message">
        <input type="text" name="msg" id="msg">
    </div>
</div>
</div>

{% endblock %}