{% extends "base.twig.html" %}

{% block title %}Sign up{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}

<div class="login">
    <div class="auth-form ng-scope">
        <form method="POST" action="signup.php">
            <h1>Sign up</h1>
            <div class="alert">
                <p>{{msg}}</p>
            </div>
            <div class="form-group">
                <span>First Name</span>
                <input type="text" id="fname" name="fname" required>
            </div>
            <div class="form-group">
                <span>Last Name</span>
                <input type="text" id="lname" name="lname" required>
            </div>
            <div class="form-group">
                <span>Email</span>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <span>Password</span>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit" id="mainButton">Sign up</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}