//Variables
@site_bg : #eee;
@site_font : 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
@site_color: contrast(@site_bg);

@header_bg: #fff;
@header_font: 'Verdana', 'Arial';

@menu_bg: #1e5f8d;
@menu_color: #00a6eb;

@footer_bg: #1e5f8d;
@footer_color: #00a6eb;

@link_color: #00a6eb;
@link_hover: #fff;

@table_bg: #1e5f8d;
@table_color: #fff;

body {
    font-family: @site_font;
    margin: 2rem auto;
    width: 95%;
    color: @site_color;
}

a {
    text-decoration: none;
    color: @link_color;
}

a:hover {
    color: @link_hover;
    text-decoration: underline;
}

@supports(display: grid) {
    // grid loop
    .create_grid(@classlist, @items) when (@items > 0) {
        //index in list starts at 1, loop stops when items is 0
        @class_name : extract(@classlist, @items);
        .@{class_name} {
            grid-area: @class_name; // naming class and grid area are the same
        }
        .create_grid(@classlist, @items - 1); //recursive call, decrease items by 1 each time
    }
    //grid layout
    .page_container {
        padding: 1.5em;
        display: grid;

        grid-template-areas:
            "header header"
            "menu menu"
            "content content"
            "footer footer";

        @grid_class_list: header menu sidebar content footer;

        @num_items: 5;
        .create_grid(@grid_class_list, @num_items);
    }
    .text_styling(@font) {
        font-family: @font;
        letter-spacing: 0.02em;
        word-spacing: .1em;
    }
    .page_container {
        //Now we style individual boxes
        .header {
            font-family: @header_font;
            font-size: 2em;
            background: @header_bg;
            color: #1e5f8d;
            text-align: center;
            border-bottom: 1px solid #ddd;
            left: 0;
            right: 0;
            top: 0;
        }

        .header > img {
            width: 60px;
            height: 60px;
        }

        .header > h1 {
            display: inline-flex;
            margin: 0px;
        }

        .content {
            .text_styling(@site_font);
            padding: 1.5em;
            background-color: @site_bg;
            align-items: center;
        }

        .menu {
            text-align: center;
            .text_styling(@site_font); //Parametric mixin
            background-color: @menu_bg;
            color: @menu_color;
        }

        .menu li {
            display: inline;
            padding: 5px;
        }

        .listing {
            align-content: center;
            align-items: center;
            align-self: auto;
        }

        .footer {
            background: @footer_bg;
            .text_styling(@site_font); //Parametric mixin
            text-align: center;
            color: contrast(@footer_bg);
        }
    }

    .content {
        display: grid;

        grid-template-areas:
            "intro story"
            "map map"
            "listing listing"
            "aesthetic mockup"
            "checklist references";

        @grid_class_list: intro story map listing aesthetic mockup checklist references;

        @num_items: 8;
        .create_grid(@grid_class_list, @num_items);
    }

    .content {
        .map {
            width: 100%;
            text-align: center;
        }

        .listing {
            text-align: center;

            table {
                width: 100%;
                border-collapse: collapse;
            }

            th, td {
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even){background-color: #f2f2f2}
            
            th {
                background-color: @table_bg;
                color: @table_color;
            }
        }

    }
}

h3 {
    text-align: center;
}

.listing_table {
    display: block;
}