.site {
    display: grid;
    /*grid-template-columns: 20% 80%;*/
    grid-template-columns: [begin-edge] 2fr [halfway] 1fr [quarter] 1fr [end-edge];
    grid-template-rows: auto 1fr 3fr;
    /*grid-template-rows: 1fr minmax(1em, 5em) 1fr;*/
    /*grid-template-rows: repeat(2, 1fr) 2fr;*/
}

.masthead {
    grid-column: halfway/end-edge;
    grid-row: 2/3;
}

.page-title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.main-content {
    grid-column: 1/2;
    grid-row: 2/4;
}

.footer-content {
    grid-column: 1/4;
    grid-row: 4;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 2/4;
}

.main-content {
    grid-column: 2/4;
    grid-row: 3/4;
}