/* Body */
body {
    font-family: Arial;
    padding: 0px;
    background: #f1f1f1;
    margin: 0;
}

/* link styles */
a:link {
    color:#ff0000;
    text-decoration:none;
}

a:visited {
    color:#ff0000;
    text-decoration:none;
}
a:hover {
    color: navy;
    text-decoration:underline;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*
h4 (job decription)
*/
h4 {
    padding: 0;
    margin: 0;
    color: #808080;
    text-decoration: underline;
    font-size: 1.2em;
}

/*
page main grid container
everything will be inside this container
*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      'header header header header header'
      'bio bio bio about about'
      'resume resume resume education education'
      'skillset skillset skillset jobs jobs'
      'footer footer footer footer footer';
    grid-gap: 5px;
    background-color: #fff;
    padding: 0px;
  }

/* header style */
.header {
    height: 200px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
}

.header img {
    width: 100%;
    height: 200px;
}

/* biography style */
.bio {
    grid-area: bio;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 20px;
    padding-right: 20px;
}

/* about me style */
.about {
    grid-area: about;
}

/* resume style */
.resume {
    grid-area: resume;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 20px;
    padding-right: 20px;
}

/* my education style */
.education {
    grid-area: education;
    padding-left: 20px;
    padding-right: 20px;
}

/* style for my skills */
.skillset {
    grid-area: skillset;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 20px;
    padding-right: 20px;
}

/* jobs area style */
.jobs {
    grid-area: jobs;
    padding-left: 20px;
    padding-right: 20px;
}

/* page footer style */
.footer {
    grid-area: footer;
    text-align: center;
    background: #ddd;
}

/*
card style
all different areas are shown as a card with a shadow
*/
.card {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    background: linear-gradient(to top, #f1f1f1, LightSteelBlue);
    margin: 10px;
    border-radius: 8px;
  }

/* Responsive layout
when the screen is less than 800px wide,
make the two columns top of each other
instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* about me photo area */
.avatar {
    border-radius: 5px;
    text-align: center;
}

.avatar img {
    width: 50%;
    height: 200px;
    padding: 2px 16px;
    border-radius: 25px;
    border: 1px solid navy;
}

/* personal style for skill area */
.skill-grid {
    width: 100%;
    text-align: left;
}

/* Container for skill bars */
.skill-container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

/* skills text */
.skills {
    text-align: right;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

/* Skill bar colors */
.skill1 {width: 90%; background-color: #4CAF50;} 
.skill2 {width: 80%; background-color: #2196F3;} 
.skill3 {width: 65%; background-color: #f44336;} 
.skill4 {width: 60%; background-color: #808080;} 

/* Style for job description */
.job-description {
    font-size: 0.9em;
    padding: 5px;
    margin: 0;
}