@font-body: "Open Sans";
@font-title: "Roboto";

@bg-header: orange;
@bg-battalion: blue;
@bg-squad: red;
@bg-profile: purple;
@bg-picture: pink;
@bg-footer: green;

@width-min: 480;

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: @font-title;
}

.create_grid(@classlist, @items) when (@items > 0) {
  //index in list starts at 1, loop stops when items is 0
  @class_name : extract(@classlist, @items);
  > .@{class_name} {
    //using variable interpolation, and naming class and grid area the same.
    grid-area: @class_name;
  }
  .create_grid(
    @classlist,
    @items - 1
  ); //recursive call, decrease items by 1 each time
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "battalion squad profile"
    "battalion picture picture"
    "footer footer footer";

  @grid_class_list: header battalion squad profile picture footer;
  @num_items: 6;
  .create_grid(@grid_class_list, @num_items);
}

.container {
  font-family: @font-body;

  .header {
    background-color: @bg-header;
    text-align: center;
  }

  .battalion {
    background-color: @bg-battalion;
    text-align: center;
  }

  .squad {
    background-color: @bg-squad;
    text-align: center;
  }

  .profile {
    background-color: @bg-profile;
    text-align: center;
  }

  .picture {
    background-color: @bg-picture;
    text-align: center;
  }

  .footer {
    background-color: @bg-footer;
    text-align: center;
  }
}

@media screen and (min-width: @width-min) {
  body {
    padding: 0 2em 0 2em;
  }
}
