//Variables
@site_bg : #003058;
@site_font : 'Open Sans', 'Helvetica', 'Arial', sans-serif;
@site_color: contrast(@site_bg);

@header_bg: #fff;
@header_font: "Roboto";

@menu_bg: #1e5f8d;
@menu_color: #00a6eb;
@menu_hover_bg: #00a6eb;
@menu_hover_color: #00a6eb;

@footer_bg: #1e5f8d;
@footer_color: #00a6eb;

@link_color: #00a6eb;
@link_hover: #fff;

@table_bg: #1e5f8d;
@table_color: #fff;

@form_input: #6a7070;
@form_focus: #047a9c;

body {
  font-family: @site_font;
  background-color: @site_bg;
  margin: 2em auto;
  width: 95%;
  color: @site_color;
}

h3 {
  text-align: center;
}

.form {
  /* unvisited link */
  a:link {
    color: gray;
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    color: gray;
  }

  /* mouse over link */
  a:hover {
    color: lightblue;
  }

  /* selected link */
  a:active {
    color: lightblue;
  }
}

.container {
  display: grid;
  margin: 0 auto;
  text-align: center;
  padding: 1.5em;

  grid-template-areas:
    "header header"
    "menu menu"
    "content content"
    "footer footer";

  .header {
    grid-area: header;
    font-family: @header_font;
    font-size: 2em;
    background: @header_bg;
    color: #1e5f8d;
    text-align: center;
    border-bottom: 1px solid #ddd;
    left: 0;
    right: 0;
    top: 0;

    h1 {
      display: inline-flex;
      margin: 0px;
    }

    .logo {
      padding: 0;
      width: 60px;
      height: 60px;

      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  .menu {
    grid-area: menu;
    // text-align: center;
    // .text_styling(@site_font); //Parametric mixin
    // background-color: @menu_bg;
    // color: @menu_color;

    height: 60px;

    ul {
      display: block;
      list-style-type: disc;
      margin-top: 0;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding: 0;
      padding-inline-start: 40px;
    }

    li {
      display: inline-block;
      // display: inline;
      // padding: 5px;
    }

    a {
      display: inline-block;
      color: @menu_color;
      background-color: @menu_bg;
      line-height: 60px;
      font-size: 0.9em;
      font-weight: 600;
      padding: 0em 1.5em;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover {
      background-color: @menu_hover_bg;
      color: @menu_hover_color;
    }
  }

  .content {
    grid-area: content;
  }

  .home {
    grid-area: home;
    display: grid;

    grid-template-areas:
      "intro story"
      "map map"
      "listing listing"
      "aesthetic mockup"
      "checklist references";

    .map {
      width: 100%;
      text-align: center;
    }

    .listing {
      text-align: center;

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      th {
        background-color: @table_bg;
        color: @table_color;
      }
    }
  }
  _ .listing {
    align-content: center;
    align-items: center;
    align-self: auto;
  }

  .footer {
    grid-area: footer;
    background: @footer_bg;
    text-align: center;
    color: contrast(@footer_bg);
  }
}

/*
CHAT STYLES
*/
.contact {
  background-color: lightgray;
  color: black;
  display: grid;
  grid-template-areas:
    "chat_header chat_header chat_header"
    "users messages messages"
    "users messages messages"
    "users message message";

  width: 80%;

  .chat_header {
    grid-area: chat_header;
    height: 100px;
  }

  .users {
    grid-area: users;
    border: 1px solid black;
    border-right: 0;
    text-align: center;

    .form {
      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
    }
  }

  .messages {
    grid-area: messages;
    border: 1px solid black;
    height: 200px;
    overflow: scroll;

    .item {
      .sent {
        font-size: 0.7em;
        color: purple;
        font-weight: bold;
      }

      .username {
        color: blue;
        font-weight: bold;
        font-size: 0.8em;
      }

      .content {
        text-align: center;
      }
    }
  }

  .message {
    grid-area: message;
    border: 1px solid black;

    > input {
      width: 100%;
    }
  }
}
