html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 1000px;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "users messages messages messages messages messages"
    "users messages messages messages messages messages"
    "users messages messages messages messages messages"
    "users messages messages messages messages messages"
    "users message message message message message";

  width: 80%;

  .header {
    grid-area: header;
    height: 100px;
  }

  .users {
    grid-area: users;
    border: 1px solid black;
    border-right: 0;
    text-align: center;

    .form {
      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
    }
  }

  .messages {
    grid-area: messages;
    border: 1px solid black;
    height: 200px;
    overflow: scroll;

    .item {
      .sent {
        font-size: 0.7em;
        color: purple;
        font-weight: bold;
      }

      .username {
        color: blue;
        font-weight: bold;
        font-size: 0.8em;
      }

      .content {
      }
    }
  }

  .message {
    grid-area: message;
    border: 1px solid black;

    > input {
      width: 100%;
    }
  }
}
