/*
    VARIABLES
*/
@narrowWidth : 814px;

/*
    Common properties for all screens (narrow and wide)
*/

/* Body */

body {
    padding: 5;
    margin: 5;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

/*
    PAGINATION
*/
.center {
    padding-top: 1.5em;
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*
    Pokemon Cards
*/
.pokecard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;

    text-align: center;

    img {
        border-radius: 5px 5px 0 0;
        height: 100px;
    }
}


.pokecard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*
    WIDE SCREEN SETTINGS
*/
@media screen and (min-width:@narrowWidth) {
    .container {
        padding: 2px 16px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
    }
    
    /*
        Pokemon Cards
    */
    .pokecard {
        img {
            height: 200px;
        }
    }
}