@break-width : 600px;

@font-body: "Open Sans", sans-serif;
@font-head: "Roboto", sans-serif;

@color-title: #ffcc33;
@color-link: #ff9933;
@color-hover: #e58e73;
@color-card: #ffb97b;

/*
    Common properties for all screens (narrow and wide)
*/

/* Body */

body {
  padding: 5px;
  margin: 5px;
}

.container {
  font-family: @font-body;
  display: grid;

  grid-template-areas:
    "header header header"
    "sidebar favorites favorites"
    "sidebar pokedex pokedex"
    "footer footer footer";

  .header {
    font-family: @font-head;
    font-size: 2em;
    grid-area: header;
    text-align: center;
    padding-bottom: 1em;

    a:link,
    a:visited {
      color: @color-link;
      text-decoration: none;
    }

    a:hover {
      color: @color-hover;
    }
  }

  .sidebar {
    grid-area: sidebar;
    height: 100%;
    position: fixed;
    overflow: auto;
  }

  .favorites {
    grid-area: favorites;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;

    padding-bottom: 1em;
    text-align: center;

    .pokecard {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      background-color: @color-card; // browsers that not support gradient
      background-image: linear-gradient(
        to bottom right,
        @color-link,
        @color-title
      );
      border-radius: 25px;
      width: 200px;
      text-align: center;

      img {
        width: 100%;
        height: 200px;
      }

      .title {
        display: grid;
        grid-template-columns: 2fr 1fr;
        font-family: @font-head;

        .name {
          text-align: left;
          padding-left: 1em;
          padding-top: 0.5em;
          font-size: 1.2em;
        }

        .hp {
          font-size: 0.8em;
          padding-right: 0.8em;
          padding-top: 1.2em;
        }
      }

      hr {
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
      }
    }

    .pokecard:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .pokedex {
    grid-area: pokedex;
    display: grid;
    grid-gap: 10px;

    .item {
      border: 1px solid #428bca;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      background-image: linear-gradient(
        to right,
        rgba(130, 135, 211, 0.445),
        rgb(66, 72, 122)
      );

      img {
        border-right: 1px solid #428bca;
        background-color: gainsboro;
        height: 100%;
        width: 75px;
      }

      .name {
      }

      .types {
        text-align: left;
      }
    }
  }

  .footer {
    grid-area: footer;
    text-align: center;
  }

  .active {
    background-color: cornflowerblue;
  }
}
