{% for pokemon in favorite %}
<div class="pokecard">

    <div class="title">
        <div class="name">{{pokemon.name}}</div>
        <div class="hp">{{pokemon.hp}}
            HP</div>
    </div>

    <hr>

    <div class="picture">
        <a href="index.php?fav={{pokemon.id}}"><img alt="Pokemon - {{pokemon.picture}}" src="{{pokemon.picture}}"></a>
    </div>
    <div class="type">
        <p>
            <a href="index.php?type_id={{pokemon.type1}}">{{pokemon.type1}}</a>
            <a href="index.php?type_id={{pokemon.type2}}">{{pokemon.type2}}</a>
        </p>
    </div>
</div>
{% endfor %}