<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js"></script>

    <title>Pokedex</title>
</head>

<body>
    <div class="container">

        <div class="header">{% include 'header.twig.html' with {'title' : title, 'sub_title' : sub_title} %}</div>
        <div class="sidebar">{% include 'sidebar.twig.html' with popular %}</div>
        <div class="favorites">{% include 'favorite.twig.html' with favorite %}</div>
        <div class="pokedex">{% include 'pokedex.twig.html' with {'pokedex' : pokedex, 'favorite' : favorite_ids} %}</div>

        <div class="footer">
            &copy; Copyright 2018 - Joao Berardo
        </div>
    </div>
</body>

</html>