{% for pokemon in pokedex %}
    <div class="item {% if pokemon.id in favorite_ids %} active{% endif %}">
        <div class="picture">
            <a href="index.php?fav={{pokemon.id | url_encode}}"><img src="{{pokemon.picture}}"></a>
        </div>

        <div class="name">
            {{pokemon.name}}
        </div>

        <div class="types">
            <p>{{pokemon.type1}}</p>
            <p>{{pokemon.type2}}</p>
        </div>
    </div>
{% endfor %}