<h1>Popular Pokemon</h1>
<h2>Gen IV</h2>
{% block sidebar %}
{% for pokemon in popular %}
<p>
    <a href="index.php?fav={{pokemon.id | url_encode}}">{{pokemon.name|e}}</a>
</p>
{% endfor %}
{% endblock %}