/*
Colors:
#800080
#4D004D
#B300B3
#E600E6
#7D007D
#3B003A
#008000
#810181
#FE7FFE
*/

/*
    VARIABLES
*/

@narrowWidth : 814px;
@shadow: #283744;
@images: "img"; // usage: background: url("@{img}/picture.png");
@link-color: #428bca; // sea blue
@link-color-hover: darken(@link-color, 10%);
@body-bg: #800080;
@body-font: 'Arial';
@body-color: #000;
@title-bg-1: #810181;
@title-bg-2: #FE7FFE;
@menu-bg: #4D004D;
@menu-bg-1: #800080;
@menu-bg-2: #B300B3;
@menu-bg-3: #E600E6;
@menu-hover: #DDA0DD;
@sidebar-bg: #800080;
@box-bg: #E600E6;
@mini-box-bg-1: #7D007D;
@mini-box-bg-2: #3B003A;
@bargraph-bg: #800080;
@graph-bg-wide: #008000;
@graph-bg: red;
@flexbottom-bg: #FE7FFE;
/*
    Common properties for all screens (narrow and wide)
*/

/* Body */

body {
    padding: 5;
    margin: 5;
}

/* common for all screens */
.title {
    background-image: linear-gradient(to right, @title-bg-1, @title-bg-2);
    text-align: center;
    font-size: 1.5em;
}

.menu {
    background-color: @menu-bg;
    color: contrast(@menu-bg);
    font-size: 1em;

    /* menu background will change every 3 items */
    .item:nth-child(3n+1) {
        background-color: @menu-bg-1;
    }
    .item:nth-child(3n+2) {
        background-color: @menu-bg-2;
    }
    .item:nth-child(3n+3) {
        background-color: @menu-bg-3;
    }
    .item:hover {
        background-color: @menu-hover;
    }
}

.container {
    display: grid;
    
}

.bargraph {
    display: grid;
    background-color: @bargraph-bg;
    height: 100px;
    grid-gap: 5px;
    padding-top: 1em;
    padding-bottom: 1em;

    /*
    Bar Graphs
    */
    .bar1,
    .bar2,
    .bar3,
    .bar4 {
        background-color: @graph-bg;
    }

    /* use mixin/function */
    .bar1 {
        width: 70%;
    }
    .bar2 {
        width: 60%;
    }
    .bar3 {
        width: 80%;
    }
    .bar4 {
        width: 40%;
    }
}

.flexbottom {
    background-color: @flexbottom-bg;
    grid-gap: 0.5em;
    display: grid;

    .mon {
        background-image: linear-gradient(to right, @mini-box-bg-1, @mini-box-bg-2);
        border: 1px solid black;
        border-radius: 25px;
        padding: 1.5em;
    }
}

/*
    Properties for wide screen
*/

@media screen and (min-width:@narrowWidth) {
    /*
    Title / Header of page (random page of style....)
    */
    .title {
        font-size: 3em;
    }

    /*
    used along with menu, don't know what to really do here
    */
    .top {}

    /*
    menu
    */
    .menu {
        font-size: 1.2em;
        display: flex;
        width: 80%;
        /* centralize  */
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        justify-content: space-around;

    }
    .container {
        grid-template-areas: 'sidebar bargraph bargraph' 'sidebar flexbottom flexbottom';

        .bargraph {
            grid-area: bargraph;
            grid-template-columns: repeat(4, 1fr); // one column for each bar
            padding-bottom: 0;
            justify-items: center;
            align-items: end;

            /*
            Bar Graphs
            */
            .bar1,
            .bar2,
            .bar3,
            .bar4 {
                background-color: @graph-bg-wide;
                width: 80px;
            }

            .bar1 {
                height: 70%;
            }

            .bar2 {
                height: 60%;
            }

            .bar3 {
                height: 80%;
            }

            .bar4 {
                height: 40%;
            }
        }
        
        .sidebar {
            grid-area: sidebar;
            background-color: @sidebar-bg;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            padding-top: 3em;
            padding-left: 2em;

            font-size: 1.4em;

            /*display: none;*/ // small screens
            .item {
                .subItem {
                    display: none;
                }
            }

            .item:hover {
                font-weight: bold;

                .subItem {
                    display: inherit;
                    padding-left: 1em;
                }

                .subItem:hover {
                    color: red;
                }
            }
        }

        .flexbottom {
            grid-area: flexbottom;
            grid-template-columns: repeat(5, 1fr);
            padding: 1em;

            h2 {
                grid-column: 1 / span 5;
            }

            /* 'more' boxes */
            .mon {

            }
        }
    }
}

/*
    Properties for narrow screen
*/
@media screen and (max-width:@narrowWidth ) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    .flexbottom {
        .mon {
            div:nth-child(1) {
                color: red;
            }
            color: cyan;
        }
    }
}